:root {
    font-size: 20px;
    box-sizing: inherit;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  p {
    margin: 0;
  }
  
  p:not(:last-child) {
    margin-bottom: -0.3em;
  }
  
  body {
    font: 1em/1.618 Inter, sans-serif;
  
    display: block;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
    padding: 30px;
    
    /* color: #224; */
    color: rgb(0, 0, 0);
    background:
      url(./5.png)
    /* url(https://dl.dropbox.com/s/mpmu0gjtxv2x3fs/Webp.net-resizeimage%20%281%29.jpg?raw=1)  */
      center / cover no-repeat fixed;
  }
  
  .card {
    max-width: 300px;
    min-height: 105px;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 35px;
    max-width: 900px;
    height: 110px;
    max-height: 110px;
    padding: 35px;
  
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 50);
    backdrop-filter: blur(4px);
  }
  
  .card-footer {
    font-size: 1.2em;
    color: rgb(255, 255, 255);  
  }

  a:link, a:visited {
    background-color: transparent;
    color: black;
    border: 2px solid #062D68;
    margin-top: 50px;
    border-radius: 25px;
    padding: 1px 6px;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #062D68;
    
    color: rgb(255, 255, 255);
  }

  .buttonalla{
    background-color:  transparent;
    border: none;
    color: white;
    padding: 7px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 25px;
  }

  .buttonalla:hover {
    background-color: #ffffff;
    color: black;
  }

  .popupbutton{
    background-color:  transparent;
    border: none;
    color: white;
    padding: 7px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 25px;
  }

  .popupbutton:hover {
    background-color: #ffffff;
    color: black;
  }
































  /* remove from here */

 

.popup {
    background: rgba(4, 43, 100, 0.9);
    width: 100%;
    /* height: 100%; */
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.popup-content {

    height: 1060px;
    width: 950px;
    
    
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    box-shadow: 0 0 15px 0.5px rgb(255 255 255);
    backdrop-filter: blur(5px);

    margin-top: 40px;
    margin-bottom: 40px; 
}


.popup1 {
  background: rgba(4, 43, 100, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.popup-content1 {

  height: 250px;
  width: 500px;
  
  
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  box-shadow: 0 0 15px 0.5px rgb(255 255 255);
  backdrop-filter: blur(5px);

  margin-top: 40px;
  margin-bottom: 40px; 
}


input {
    margin: 20px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border-radius: 1px solid grey;
    background-color: aquamarine;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:5px

}

.popup-content .user  {
    margin: 45px auto;
    display: block;
    width: 90%;
    padding: 8px;
    /* border-radius: 1px solid rgb(0, 0, 0); */
    background-color: aquamarine;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: none; */
    outline: none;
    background: transparent;
    border-bottom: 2px solid black;
    text-align: center;
    transition: 0.25s;
    height:40px;
    border-radius: 20px ;
    margin-top:5px
}
.popup-content .password  {
    margin: 45px auto;
    display: block;
    width: 90%;
    padding: 8px;
    border-radius: 1px solid grey;
    background-color: aquamarine;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: none; */
    outline: none;
    background: transparent;
    border-bottom: 2px solid black;
    text-align: center;
    transition: 0.25s;
    height:40px;
    border-radius: 20px;
}

.close {
    position: absolute;
    top: 7px;
    right: 10px;
    background-color: #ffffff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    cursor: pointer;
}



label {
  color: #ffffff;
  font-weight: bold;
  display: block;
  margin-right: 610px;
}

     





